.TableHolder{
    background-color: black;
    color: bisque;
    margin-top: 40px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: 0;
}

th{
    width: 150px;
}

td{
    width: 150px;
    height: 100px;
}

tr {
    height: 100px;
}

thead {
    height: 60px;
}

table, th, td, tr {
    border: 0.5px solid bisque;
}