.input {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid bisque;

    &__form {
        width: 50%;
        height: 100%;
        display: inline-block;
    }

    &__row {
        width: 100%;
        height: 33.33%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--field {
            width: fit-content;
            height: fit-content;
            margin: auto;
            display: block;
        }

        &--label {
            font-weight: bold;
            font-size: 20pt;
            color: bisque;
            margin-bottom: 5px;
        }
    }
}

select {
    width: 75px;
    height: 40px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

#chooseFuel {
    width: 150px;
    font-size: 12pt;
}

input {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5pt;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.bottom {
    height: 40%;
    width: 100%;
}
